{% extends "base.html" %} {% block content %}
<p>this is home 2 page</p>

<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4 my-12 mx-12">
  {% for i in data %}
  <div class="rounded-lg mx-5">
    <div class="p-5">
      <a href="#">
        <h5
          class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-800"
        >
          {{i.title}}
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{i.content|slice:":200"}}
      </p>
      <h1
        class="mb-2 text-center text-xl font-bold tracking-tight text-gray-900"
      >
        Author: {{i.author.first_name}}
      </h1>
      <p>
        Category: {% for cat in i.category.all %}
        <a
          href="#"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-gray-500 m-2"
        >
          {{cat.name}}
        </a>
        {% endfor %}
      </p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
